body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

div {
  white-space: pre-wrap;
}

nav {
  background-color: #ffffff;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #ffe0b2;
}

.logo {
  font-family: "Marck Script", cursive;
}
